#tweets{
	min-height:235px;
	max-height:235px;
	overflow: hidden;
}

#graphcontainer, #tweetcontainer{
	min-height:320px;
	max-height:320px;
	border-top-left-radius: 6px;
	background:url('../img/debut_light.png') transparent;
}

#graphcontainer{
	border-top-left-radius: 0;
	border-top-right-radius: 6px;
}

#map-canvas{
	min-height:303px;
}

#directionframe{
	border:0;
}

#maps{
	min-height: 305px;
	padding: 0;
	background:url('../img/debut_light.png') transparent;
}

#buienradar{
	min-height:305px;
	border-bottom-right-radius: 6px;
	background:url('../img/debut_light.png') transparent;
}

#buienradar img{
	vertical-align: middle;
	max-height: 271px;
	box-shadow: 5px 5px 15px #222;
}

#directions{
	min-height:305px;
	padding-right:0;
	border-bottom-left-radius: 6px;
	background:url('../img/debut_light.png') transparent;
	overflow: hidden;
}

body{
	background:url('../img/tweed.png') transparent;
}

ol{
	list-style-type: none;
	padding-left:0;
}

h1{
	color: #e9e9e9;
	margin-top:10px;
	margin-bottom:2px;
}

h3{
	margin-top:0;
	padding-top:0;
	font-family: "Open Sans", "Verdana", "Sans-Serif";
	color: #505050;
	text-shadow: 0px -1px 1px #222222;
	font-weight: bold;
	text-transform: uppercase;
}

.content-box {
	box-shadow: 5px 5px 5px #222;
}

.container{
	margin-bottom: 20px;
}

.page-header{
	margin: 0 0 8px;
	padding-bottom:0;
	border:0;
}

.avatar{
	padding:3px;
	border:1px solid #444;
	border-radius:6px;
	background-color: #aaa;
	position:relative;
	top:20px;
	min-height:64px;
	max-height:64px;
	min-width:64px;
	max-width:64px;
}

.time{
	display:none;
}

.fullname{
	padding-left:7px;
}

.account-group{
	position:relative;
	top:-20px;
}

.tweet-text{
	position:relative;
	left:71px;
	width:532px;
	top:-36px;
}

.content{
	height:80px;
}


/*
	HighCharts Custom CSS
*/

.highcharts-title{
	display:none;
}

.highcharts-legend{
	display:none;
}

.highcharts-tooltip{
	display:none;
}

/*
	Pop-out CSS
*/

#bar1Click{
	position:relative;
	width:100%;
	height:30px;
	top:-205px;
}
#bar2Click{
	position:relative;
	width:100%;
	height:30px;
	top:-195px;
}
#bar3Click{
	position:relative;
	width:100%;
	height:30px;
	top:-185px;
}
#bar4Click{
	position:relative;
	width:100%;
	height:30px;
	top:-175px;
}

.hidden-container{
	position:fixed;
	z-index:999;
	height:100%;
	width:100%;
	margin:auto;
	background: rgba(0,0,0,0.5);
	display:none;
}

.hidden-tweetcontainer{
	border-radius: 6px;
	height:500px;
	width:800px;
	margin:110px auto 0;
	background:url('../img/debut_light.png') transparent;
	overflow:auto;
}