#tweets{
	min-height:330px;
	max-height:330px;
	overflow: auto;
}

#speed{
	min-height:320px;
}

#tweetcontainer{
	border-top-left-radius: 6px;
}

#graphcontainer{
	border-top-right-radius: 6px;
}

#maps{
	min-height: 400px;
	margin-bottom:20px;
}

#buienradar{
	min-height:400px;
	border-bottom-right-radius: 6px;
}

#buienradar img{
	vertical-align: middle;
	height:330px;
}

#directions{
	min-height:400px;
	border-bottom-left-radius: 6px;
}

ol{
	list-style-type: none;
	padding-left:0;
}

h3{
	margin-top:0;
	padding-top:0;
}

.avatar{
	padding:3px;
	border:1px solid #444;
	border-radius:6px;
	background-color: #aaa;
	position:relative;
	top:20px;
	min-height:64px;
	max-height:64px;
	min-width:64px;
	max-width:64px;
}

.time{
	display:none;
}

.fullname{
	padding-left:7px;
}

.account-group{
	position:relative;
	top:-20px;
}

.tweet-text{
	position:relative;
	left:71px;
	width:532px;
	top:-36px;
}

.content{
	height:80px;
}

#map-canvas{
	min-height:330px;
}